* {
    padding: 0;
    margin: 0;
}

#registration-header {
    margin-bottom: 1rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#main-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
}

label {
    float: left;
    margin-top: 1rem;
}

input[type="text"], input[type="password"] {
    height: 1.3rem;
}

button[type="submit"] {
    margin-top: 1rem;
    height: 2rem;
    /* width: 33%;
    float: right; */
}

form .error {
    color: #ff0000;
  }